<!DOCTYPE html>
<html data-theme="light">
    <head>
        <title>Project Delete</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="/styles/style.css">
        <script>
            let localSt = localStorage.getItem('theme');

            if(localSt === 'dark'){
                document.documentElement.setAttribute('data-theme', 'dark');
            }
            else{
                document.documentElement.setAttribute('data-theme', 'light');
            }
        </script>
    </head>

    <body>
        <nav class="nav-bar">
            <div id="dashboard-name">
                <h2>" <%= project.name %> "</h2>
            </div>
            <div id="right-part-nav-bar">
                <div id="theme-switcher">
                    <span id="light-circle"></span>
                    <span id="dark-circle"></span>
                </div>
                <form id="project_info" action='/project_info/<%= project._id %>' method="get">
                    <button class="button" id="project_info" type="submit">Project Info</button>
                </form>
                <form id="home" action='/homepage' method="get">
                    <button class="button" id="home" type="submit">Home</button>
                </form>
                <form id="logout" action='/logout' method="post">
                    <button class="button" id="logout" type="submit">Log out</button>
                </form>
            </div>
        </nav>

        <main class="main-window">
            <div class="form-popup">
                <form id="project-delete-form" action="/project_delete/<%= project._id %>" method="post">
                    <div class="pop-up-a-part">
                        <h2>Are you sure you want to delete <%=project.name%> ?</h2>
                    </div>
                    <div id="ticket-info-form-a-part">
                        <button class="button" id="deleteButton" type="submit">Delete</button>
                    </div>
                </form>
                <form id="project-cancel-form" action='/project_info/<%= project._id %>' method="get">                           
                    <div id="ticket-info-form-a-part">
                        <button class="button" id="cancelButton" type="submit">Cancel</button>
                    </div>
                </form>
            </div>
            <div id="error"><% if (messages.length > 0) { %>
                <p id="error-message"><%= messages %></p>
                                    <% } %>
            </div>
        </main>
    </body>
</html>