<!DOCTYPE html>
<html data-theme="light">
    <head>
        <title>View by Assignee</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="/styles/style.css">
        <script defer src="/script/theme-switcher.js"></script>
        <script>
            let localSt = localStorage.getItem('theme');

            if(localSt === 'dark'){
                document.documentElement.setAttribute('data-theme', 'dark');
            }
            else{
                document.documentElement.setAttribute('data-theme', 'light');
            }
        </script>
        <script defer src="/script/filterTicketViewByAssignee.js"></script>
    </head>

    <body>
        <nav class="nav-bar">
            <div id="dashboard-name"><h2>Assignees</h2></div>
            <div id="right-part-nav-bar">
                <div id="theme-switcher">
                    <span id="light-circle"></span>
                    <span id="dark-circle"></span>
                </div>
                <form id="home" action='/homepage' method="get">
                    <button class="button" id="home" type="submit">Home</button>
                </form>
                <form id="logout" action='/logout' method="post">
                    <button class="button" id="logout" type="submit">Log out</button>
                </form>
            </div>
        </nav>

        <main class="main-window">
            <div id="assignee-filter-container">
                <div id="assignee-filter-container-a-part">
                    <span>Filter by assignee's username:</span>
                    <form id="assignee-username-filter" action='/view_by_assignee/<%= project._id %>' method="post">
                        <select id="assignee-username">
                            <% const uniqueAssignees = Array.from(new Set(assignees)); %>
                            <% for (const assignee of uniqueAssignees) { %>
                                <option><%= assignee %></option>
                            <% } %>
                        </select>
                        <button class="button" type="submit" id="assignee-username-filter-button">Select</button>
                    </form>
                </div>
            </div>
            <br>
            <div id="assignee-tickets">
                <table>
                    <thead>
                        <tr>
                            <th>Ticket name:</th>
                            <th>Summary:</th>
                            <th>Status:</th>
                            <th>Priority:</th>
                            <th>Created on:</th>
                            <th>Target end-date:</th>
                            <th>Assignees:</th>
                            <th></th> <!-- Ticket info button will be in this column -->
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <% for (const ticket of tickets) { %>
                            <% if(ticket.projectName === project.name) { %>
                                <tr>
                                    <td><%= ticket.name %></td>
                                    <td><%= ticket.summary %></td>
                                    <td><%= ticket.status %></td>
                                    <td><%= ticket.priority %></td>
                                    <td><%= ticket.createdOn.toISOString().split('T')[0] %></td>
                                    <td><%= ticket.targetEndDate.toISOString().split('T')[0] %></td>
                                    <td><%= ticket.assignees %></td>
                                    <td><form action="/ticket_info/<%= ticket._id %>" method="post">
                                            <button class="button" type="submit">Ticket info</button>
                                        </form></td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <form action='/project_dashboard/<%= project._id %>' method="get">
                <button class="button" type="submit">View by Status</button>
            </form>
        </main>

    </body>
</html>